DATA/*
.env
migration_config.env
.vscode
.idea
.venv
venv
vm
*.pyc
*.egg-info
__pycache__
.ebextensions
.spyproject
node_modules
*.DS_Store
node_modules
assets/.DS_Store
fhir_data/static/.DS_Store

.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

migration_output/
.coverage

CHROMA_DB